/*
    Custom styles 
*/
.todo-list--name {
    padding-top: 17px;
}

.text-transformation-none {
    text-transform: unset !important;
}

.padding-top-20 {
    padding-top: 20px;
}

.done-tasks-container > div > div > h5 {
    text-decoration: line-through;
}

.list-name {
    background-color: #eee;
}

.move-task {
    cursor: pointer;
}

.list-header {
    min-height: 150px !important;
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}

.list-title {
    color: #fff;
}